<?xml version='1.0' encoding='utf-8'?>
<widget id="com.modemi4.roadmap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
xmlns:android="http://schemas.android.com/apk/www/res/android"
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Roadmap</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<preference name="SplashMaintainAspectRatio" value="true" />
	<platform name="android">
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:usesCleartextTraffic="true" />
		</edit-config>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.INTERNET"/>
		</config-file>
		<preference name="scheme" value="app" />
		<preference name="hostname" value="localhost" />
		
        <icon src="www/res/icon.png" />
	</platform>
</widget>
